*{
    color: #344d67
}
.fondo-blanco{
    background-color: #ffffff78;
}
.welcome{ 
    height: 100vh;
    display: grid!important;
    width: 100%!important;
    font-family: Raleway,sans-serif;    
}
.containerHome {
    background-color: #ffffffe6;
    justify-self: center;
    margin-top: 1em;
    height: 500px;
    width: 500px;
}
h1{
    color: #344d67;
    font-size: 33px;
    margin-top: 50px;
    margin-bottom: 8px;
    text-align: center!important;
    line-height: 1.2;
    font-family: Raleway,sans-serif;
    justify-content: space-evenly;
}
h2{
    display: block;
    text-align: center!important;
    font-weight: 500;
    margin-top: 28px !important;
    margin-bottom: 8px !important ;
    font-family: Raleway,sans-serif;
    font-size: 26px;
    padding: 0%;
}
.INTRO{
    text-align: center!important;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 13px !important;
}
.containerbutton{
    position: relative;
    gap: 6px;
    padding: px;
    
}

@media (max-width: 800px) {
h2{
    color: #6ECCAF;
}    
.containerbutton{
    flex-direction: column;
    margin-left: 35%;
}
}

